.header-wrapper {
  z-index: 2;
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  padding-top: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.chat-body {
  padding: 0px;
}

.chat-body .status-bar,
.chat-body .header {
  padding: 0px 20px;
}

.chat-screen {
  background-image: linear-gradient(#dae2f8, #d6a4a4);
  min-height: 200vh;
  padding-top: 100px;
}

.chat__write--container {
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fcfcfc; */
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 16px;
  transition: all 0.7s ease-in-out, border-radius 0.7s ease-in-out; /* transform 0.5s ease-in-out*/
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 20px;
}

.chat__write-icon {
  margin-left: 15px;
}

@keyframes float {
  0% {
    transform: translateY(-70px);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-75px);
    box-shadow: 0 13px 27px 20px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    transform: translateY(-70px);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write:focus {
  outline: none;
  width: 80%; /*chat__write--container 에서 background-color속성을 갖고 있으면 적용이 되지 않는다.*/
  transform: translateY(-70px);
  border-radius: 45px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  animation: float 2s ease-in-out infinite backwards;
}

.chat__icon {
  transition: opacity 0.2s ease-in;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat-screen .chat__timestamp {
  background-color: rgb(255, 199, 94);
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  text-transform: uppercase;
  font-weight: 600;
  /* opacity: 0.7; opacity를 적용하면  header 위로 드러나 보인다. */
}

.message {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 45px;
  height: 45px;
  border-radius: 42%;
  margin-right: 15px;
  animation: spin 1.5s linear infinite;
}

.massage__line {
  display: flex;
  flex-direction: column;
}

.message__friend {
  display: flex;
  height: 20px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}

.message .message__talk {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background-color: rgb(255, 199, 94);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  word-break: break-all;
}

.incoming-message .message__author {
  margin-bottom: 30px;
  display: block;
  font-weight: 600;
  font-size: 15px;
}

.incoming-message .message__talk {
  border-top-left-radius: 0px;
}

.sent-message .message__talk {
  border-bottom-right-radius: 0px;
}

.message__talk {
  display: block;
}

.message__content {
  display: flex;
  align-items: center;
}

.message__timestamp {
  margin: 0px 5px;
  margin-top: 20px;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}
